## Chapter 2 Homework

In [1]:
## 2-1

message = "this is a string"
print(message)

this is a string

In [3]:
## 2-2

message = "this is also a string"
print(message)

this is also a string

In [7]:
## 2-3
name = "Jason"
message2 = "Hello "+name+", how are you?"
print(message2)

Hello Jason, how are you?

In [8]:
## 2-4
print(name.upper())
print(name.lower())
print(name.title())

JASON
jason
Jason

In [17]:
## 2-5
quote = "Jason once said, 'A person who never did anything, never did it'"
print(quote)

Jason once said, 'A person who never did anything, never did it'

In [18]:
## 2-6
quote = name + " once said, 'A person who never did anything, never did it'"
print(quote)

Jason once said, 'A person who never did anything, never did it'

In [24]:
##2-7
quote = name + " once said,\n 'A person who never did anything, never did it'"
print(quote)
print(name.lstrip())
print(name.rstrip())
print(name.strip())

Jason once said,
 'A person who never did anything, never did it'
Jason
Jason
Jason

In [25]:
## 2-10

## This is a comment -- just like the others

## Chapter 3 Homework

In [27]:
## 3-1
friends = "Lucas", "Reginald", "Isaac"
print(friends[0])
print(friends[1])
print(friends[2])

Lucas
Reginald
Isaac

In [29]:
##3-2
print(friends[0] + ", you are a great friend!")
print(friends[1] + ", you are a great friend!")
print(friends[2] + ", you are a great friend!")

Lucas, you are a great friend!
Reginald, you are a great friend!
Isaac, you are a great friend!

In [31]:
##3-3
transportation = "airplane", "car", "train"
print("I like to travel by " + transportation[0])
print("I own a " + transportation[1])
print("It is cheaper to take the " + transportation[2])

I like to travel by airplane
I own a car
It is cheaper to take the train

In [33]:
##3-4
people = "Jesus", "Beyonce", "Big Bird"
print("Hi "+people[0]+", you are invited to my party!")
print("Hi "+people[1]+", you are invited to my party!")
print("Hi "+people[2]+", you are invited to my party!")

Hi Jesus, you are invited to my party!
Hi Beyonce, you are invited to my party!
Hi Big Bird, you are invited to my party!

In [49]:
##3-5
people = ["Jesus", "Beyonce", "Big Bird"]
print(people)
people[0] = "Oprah"
print(people)
print("Hi " + people[0] + ", you are invited to my party!")

['Jesus', 'Beyonce', 'Big Bird']
['Oprah', 'Beyonce', 'Big Bird']
Hi Oprah, you are invited to my party!

In [50]:
##3-6
print(people)
people.insert(0, "Sunil Kumar")
print(people)
people.insert(2, "Tony Monaco")
print(people)
people.append("Joe Biden")
print(people)

['Oprah', 'Beyonce', 'Big Bird']
['Sunil Kumar', 'Oprah', 'Beyonce', 'Big Bird']
['Sunil Kumar', 'Oprah', 'Tony Monaco', 'Beyonce', 'Big Bird']
['Sunil Kumar', 'Oprah', 'Tony Monaco', 'Beyonce', 'Big Bird', 'Joe Biden']

In [51]:
##3-7
print("We can only invite two people for dinner")
print(people)
people.pop()
print(people)
people.pop()
print(people)
people.pop()
print(people)
people.pop()
print(people)
print(people[0]+" and "+people[1]+" are still invited!")

We can only invite two people for dinner
['Sunil Kumar', 'Oprah', 'Tony Monaco', 'Beyonce', 'Big Bird', 'Joe Biden']
['Sunil Kumar', 'Oprah', 'Tony Monaco', 'Beyonce', 'Big Bird']
['Sunil Kumar', 'Oprah', 'Tony Monaco', 'Beyonce']
['Sunil Kumar', 'Oprah', 'Tony Monaco']
['Sunil Kumar', 'Oprah']
Sunil Kumar and Oprah are still invited!

In [59]:
##3-8
places = ["London", "Paris", "Peru", "China", "Japan"]
print(places)
places = sorted(places)
print(places)
places = places.reverse()
print(places)

['London', 'Paris', 'Peru', 'China', 'Japan']
['China', 'Japan', 'London', 'Paris', 'Peru']
None

## Chapter 4 Homework

In [61]:
##4-1
pizza = "pepperoni", "cheese", "ham"
for x in pizza:
    print("I like " + x + " pizza.")

print("I really like pizza!")

I like pepperoni pizza.
I like cheese pizza.
I like ham pizza.
I really like pizza!

In [65]:
##4-2
animals = "dog", "cat", "bird"
for x in animals:
    print(x)
print("\n")
for x in animals:
    print("A "+x+" would make a good pet.")
print("Any of these animals would make a good pet!")

dog
cat
bird


A dog would make a good pet.
A cat would make a good pet.
A bird would make a good pet.
Any of these animals would make a good pet!

In [66]:
##4-3
numbers = []
for x in range(1,21):
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [67]:
##4-6
numbers = []
for x in range(1,21,2):
    print(x)

1
3
5
7
9
11
13
15
17
19

In [71]:
##4-10
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print("The first three items in the list are:")
print(list1[:3])
print("The last three items in the list are:")
print(list1[-3:])

The first three items in the list are:
[1, 2, 3]
The last three items in the list are:
[8, 9, 10]